* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    /*min-width: 1200px;*/
    font-size: 1em;
}

.home-index {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%
}

.banner {
    text-align: center;
    background: radial-gradient(#43aaeb, #2570b2);
    padding: 5em 0 0px 0;
}

.left {
    display: flex;
    padding: 0 1em;
}

.right {
    padding: 0 1em;
}

h5 {
    color: #fff;
    margin-left: 0.5em;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #2266a4;
}

.register {
    background: #2bcfd3;
    color: #fff;
    border-radius: 6px;
    border: 0;
    padding: 0.25em 1em;
}

.login {
    color: #fff;
    border: 0;
    background: rgba(0, 0, 0, 0);
    padding: 0.25em 1em;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title h2 {
    color: #fff;
    margin-left: .75rem;
    font-size: 1.75rem;
}
.title img{
    vertical-align: middle;
    border-style: none;
    width: 1.875rem;
    position: relative;
    top: -.25rem;
}
.search {
    width: 60%;
    text-align: center;
    padding: 3em 0 4rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.search input {
    width: 100%;
    padding: 0.5em 1em;
    margin-right: 1em;
    border-radius: .25rem;
    border: none;
}

.search input::-webkit-input-placeholder {
    color: #999999;
}

.search button {
    border: none;
    background: #2bcfd3;
    color: #fff;
    letter-spacing: 10px;
    padding-left: 1em;
    padding-right: 0.5em;
    width: 9rem;
    border-radius: .25rem;
    transition: all 200ms;
}
.search button:hover {
    background: #29b7bb;
}
.search button:active {
    background: #24a0a4;

}
.container-as {
    background: #fff;
    padding: 1em 0;
    width: 60%;
    margin: 0 auto;
}

.hot-key {
    width: 100%;
    font-size: 1em;
    margin-top: 1.5rem;
}

.markt {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
}

.markt span {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1em;
}

.lable {
    width: 100%;
    display: flex;
}

.lable span {
    border: 1px solid #8e8e8e;
    border-radius: 6px;
    color: #8e8e8e;
    padding: 0 1em;
    margin: 0.5em 1em 1em 0;
    cursor: pointer;
}

.special {
    width: 100%;
    font-size: 1em;
    margin-top: 2.5rem;
}

.swiper-container {
    width: 100%;
    padding: 0.4em;
}

.slide-img {
    width: 5em;
    height: 5em;
}

.swiper-slide span {
    color: #8e8e8e;
    padding-top: 1em;
}

.slide-offset {
    margin: 0 auto 4rem;
    width: 100%;
    position: relative;
}

.swiper-button-next {
    right: -2.6rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ccc'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev {
    left: -2.6rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ccc'%2F%3E%3C%2Fsvg%3E")
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 1em 0;
    /*box-shadow: 0px 0px 0px 2px #eee;*/
}

.iconfont {
    font-size: 1.25em;
    color: #2bcfd3;
    position: relative;
    top: -.125rem;
    margin-right: .25rem;
}

.swiper-button-next, .swiper-button-prev{
    width: 25px;
    height: 28px;
    opacity: .6;
}