
body > .container > .main {
    position: relative;
    margin-bottom: 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    border-radius: 0.125rem;
    overflow: hidden;
    background-color: #fff;
}

.breadcrumb {
    margin-bottom: .25rem;
    padding: .375rem 1rem;
    color: #666;
    font-size: .875rem;
    background: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb a {
    color: #666;
}

.breadcrumb li.active {
    color: var(--textBlue);
}

.list {
    position: relative;
}

.list ul {
    padding: 0 1rem;
}

.list ul > li {
    padding: 1rem 1rem;
}

.list ul > li + li {
    border-top: .0625rem solid #eee;
}

.list ul > li > h4 {
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
}

.list ul > li > p {
    margin: .875rem auto 0 1rem;
    font-size: .875rem;
    color: #999;
}

.list ul > li > p > span {
    display: inline-block;
    margin-right: 1rem;
}

.handle {
    position: absolute;
    top: .875rem;
    right: 1rem;
    color: #333;
}

.handle ul > li {
    display: inline-block;
    width: 4rem;
    color: #333;
    font-size: .875rem;
    cursor: pointer;
}

.handle ul > li:before {
    filter: grayscale(1);
}

.handle ul > li:active:before,
.handle ul > li.active:before {
    filter: grayscale(0);
}

.handle span i {
    cursor: pointer;
}

.blue {
    color: #2764b6;
}
