
body > .container > .main {
    position: relative;
    margin-bottom: 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    border-radius: 0.125rem;
    overflow: hidden;
    background-color: #fff;
}

.breadcrumb {
    margin-bottom: .25rem;
    padding: .375rem 1rem;
    color: #666;
    font-size: .875rem;
    background: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb a {
    color: #666;
}

.breadcrumb li.active {
    color: var(--textBlue);
}

.list {
    position: relative;
}

.list ul {
    padding: 0 1rem;
}

.list ul > li {
    padding: 1rem 1rem;
}

.list ul > li + li {
    border-top: .0625rem solid #eee;
}

.list ul > li > h4 {
    color: #999;
    margin-top: 0;
    font-size: 1.125rem;
}

.list ul > li > p {
    margin: .875rem auto 0 1rem;
    font-size: 1rem;
    color: #666;
}

.list ul > li > p > span {
    display: inline-block;
    margin-right: 1rem;
}

