*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #f6f6f6;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.search_box{
    width: 100%;
    height: 100%;
    display: inline-block;
}
header{
    width: 100%;
    /* height: 6%; */
    height: 2.125rem;
    background: radial-gradient(circle farthest-corner, #43aaeb, #246eb0);

}
.content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.serch_head{
    width: 100%;
    /* height: 20%; */
    height: 8rem;
    padding-top: 2%;
    color: white;
    background-color: cornflowerblue;    background: radial-gradient(#43aaeb,#2570b2);
}
.serch_head_content{
    width: 100%;
    height: 85%;
    margin-top: 1em;
}
.serch_head_content_left{
    width: 10%;
    height: 100%;
    float: left;
}
.serch_icon{
    width: 2.5em;
    height: 2.5em;
    background: url("../images/cube.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;

}
.serch_head_content_right{
    width: 90%;
    height: 100%;
    float: left;
}
.serch_head_input{
    height: 65%;
    width: 94%;
}
/*.serch_head_checkbox>span{
    font-size: 0.9em;
}*/
.serch_head_checkbox .hot_words ul>li{
    display: inline-block;
    margin-right: 1em;
    font-size: 0.7em;
    cursor: pointer;
}
.serch_head_checkbox .hot_words ul>li:before{
    content: '';
    position: relative;
    display: inline-block;
    margin-right: .25rem;
    top: .0625rem;
    width: .625rem;
    height: .625rem;
    background-color: #fff;
    border: .125rem solid #fff;
    border-radius: .1875rem;
}
.serch_head_checkbox .hot_words ul>li.active:before{
    background-color: #2bcfd3;
}

.serch_input{
    width: 83%;
    height: 100%;
    float: left;
}
.serch_button{
    width: 17%;
    height: 100%;
    float: left;

}
.serch_input>input{
    width: 97%;
    /*height: 3.5rem;*/
    border: none;
    padding: .5rem 1em;
    border-radius: 3px;
}
.serch_input input::-webkit-input-placeholder{
    color:#999999;
    font-size: 0.9rem;
}
.serch_button>button{
    width: 100%;
    /*height: 3.5rem;*/
    background-color: #2bcfd3;
    border: 0;
    padding: .5rem;
    margin: 0;
    color: white;
    border-radius: 3px;
    /*font-size:1.5rem;*/
    cursor:pointer;
}
.serch_button>button:hover {
    background: #29b7bb;
}

/*
.demo--label{
   !* margin:20px 20px 0 0;*!
    display:inline-block;
    font-size: 0.8em;
    margin-right: 1em;
}
.demo--radio{
    display:none
}
.demo--radioInput{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 100%;
    display: inline-block;
    height: 0.8em;
    margin-right: 0.4em;
    margin-top: -1px;
    vertical-align: middle;
    width: 0.8em;
}
.demo--radio:checked + .demo--radioInput:after{
    background-color: #57ad68;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    position: absolute;
    margin-top: 0.1em;
    margin-left: 0.07em;
}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{
    border-radius:0
}*/

/*输入框下的热搜词*/



/*内容部分*/
.search_content{
    width: 100%;
    height: 100%;
    color: #333;
}
.serch_content_header{
     padding-left: 10rem;
     height: 2.5em;
    font-size: 0.8em;
}
.serch_content_header .label{
    width: max-content;
	display:none;
	margin-left: 1rem;
    border: solid 1px #2a76b7;
    padding: .1em 1.5em;
    border-radius: 4px;
    position:relative;
    float: left;
    margin-top: .3em;
}

/* .serch_content_header .label1,.serch_content_header .label2 {
	margin-left:2em!important;
} */
.serch_content_header .label .close_label {
	position: absolute;
    right: .1rem;
    top: -0.2rem;
    cursor: pointer;
    font-size: 1rem;
}



.search_content_box{
    width: 100%;
}
.search_content_box_left{
    width: 14%;
    height: 25em;
    color: #666;
    background-color: white;
    box-shadow: 0 0 5px #BEBEBE;
    border-radius: 3px;
}
.menus_li_active{
    color: white;
    background-color:#2570b2 ;
}
.menus_head{
    text-align: center;
    padding: 0.5em 0;
    color: white;
    background-color: cornflowerblue;    
    background: radial-gradient(#43aaeb,#2570b2);
}
.menus_box{
    width: 100%;
}
.menus_box li{
    padding: 0.58em 0 0.58em 1em;
    cursor: pointer;
}
.menus_box>li>span{
    margin-right: 0.5em;
}

.menus_box>li>span{
    color: #999;
}
.search_content_box_right{
    width: 82%;
    color: #333;

}
.menus_two_box{
    width: auto;
    height: auto;
    top:0;
    left: 14%;
    position: relative;
    display: none;
}
.menus_two{
    position: absolute;
    left: 0;
    top:0;
    padding: 0.5em 1em 1.25rem;
    background-color: white;
    box-shadow: 0 0 3px #999;
    font-size: 0.8em;
    word-break:normal;
    width: 43.5em;
    z-index: 2;
    /*height: 25rem;*/

}
.menus_two>li:hover{
    color: #2764b6;
}
.menus_two>li{
    position: relative;
    display: inline-block;
    margin: 0.5em .5em 1.25em;
    cursor: pointer;
}
.menus_two>li>span{
    position: absolute;
    font-weight: 600;
    font-size:0.92rem;
}
.menus_three{
    margin-left: 4rem;
    width: 20em;
    display: inline-block;
}
.menus_two>li>span:hover{
	color:#2774b6;
}
.menus_three li{
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.8rem;
    color: #999;
    cursor: pointer;
}
.menus_three li:hover{
    color: #2764b6;
}
/*
内容部分右侧的信息列表*/
.search_content_main{
    width: 100%;
    margin-left: 3.27%;
    background-color: white;
    box-shadow: 0 0 5px #BEBEBE;
    border-radius: 3px;
    display: inline-block;
}
.search_result{
    margin: 1rem 2rem .5rem;
    color: #afafaf;
    font-size: 0.91rem;
}
.search_result span{
    font-size: .875rem;
}
.box_left{
    width: 20%;
    margin: 1em 0;
}
.box_left .box_left_img{
    width: 8em;
    height: 7.2em;
   /*  border: 1px solid red; */
    margin: 0% auto;
}
.box_right{
    width: 76%;
    margin: 1em 0;
    color: #666;
    padding-right: 0.5em;
    margin-left: 2%;
}
.box_right>div{
    padding: 0.3em 0;
    height: 2.75rem;
    bottom: 0;
    color: #808080;
}
.box_right .news_title{
    padding-top: 0;
}
.box_right .news_title b{
    padding: 0 0.3em 0.3em 0.3em;
    font-weight: 600;
    margin-left: 0.5em;
}
.box_right .news_title b a{
    color: #666;
}
.box_right .news_title b a:hover{
    color: #2764b6;
}
.box_right .news_more ul{
    display: inline-block;
    font-size: 0.5em;
}
.box_right .news_more ul li{
    display: inline-block;
    color: #808080;
    font-size: 1.84em;
    margin: 1.3rem 0.91rem 1.3rem 0;
}
.box_right .news_more ul li i{
    cursor: pointer;
    font-size: 0.92rem;
}
.news_mark{
    background-color: #2bcfd3;
    color: white;
    padding: 0.1em 0.3em;
    font-size: 0.625em;
    border-radius: 5px;
    margin-top: 0.3em;
}
.news_time{
    font-size: 0.91em;
    color: #aaa;
}

.news_time_img{
    width: 1em;
    height: 1em;
    background-color: #2bcfd3;
    margin-right: 0.2em;
}
.news_box{
	position: relative;
    border-bottom: 1px solid #f2f2f2;
    /*display: inline-block;*/
    overflow: hidden;
    margin: 0 0.3em;
}
.blue{
    color: #2774b6;
}

/*
字体图标样式*/
.iconfont{
   font-size: 0.91em;
	margin-top:0;
    margin-right: 0.5em;
}
.icon-plus-select-down {
    float: right;
    margin-top: 0.05em;
    margin-right: 1em;
}

/*分页样式*/
.page{
    color: #666;
    float: right;
    margin-bottom: 2em;
    margin-right: 1em;
}
.page .pageItemActive{
    background-color:#2764b6;
    border: none;
}
.page .pageItem:hover{
    background-color:#2764b6;
    border: none;
}
.page>li{
    font-size: 0.6em;
    padding: 0 0.4em;
}
body>header * {
    color: #fff;
}
body>header h1.icon-pre {
    font-size: 1.125rem;
    margin-bottom: 0;
    text-indent: 2rem;
}

@media (min-width: 992px){
    .content {
        max-width: 860px;
    }
}
@media (min-width: 1367px){
    .content {
        max-width: 1200px;
    }
}