/*全局变量*/
:root{
    /*--themeBlue: #00adef;*/
    --themeBlue: #32bbfe;
    --backgroundColor:rgba(79,148,207,.17);
    --borderColor:rgba(65,152,223,.5);
    --border:.125rem solid var(--borderColor);
    --lineWidth: .3rem;
    --totalTime: 6s;
    --waitTime: 1s;
    color: var(--themeBlue);

}

/*全局设置-----start*/
@media all {
    * {
        font-family: PingFang SC, microsoft yahei, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    h1{
        font-size: 1.8rem;
    }
    a {
        cursor: pointer;
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}

/*自定义class*/
.icon-pre{
    position: relative;
}
.icon-pre:before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%,-50%);
    text-indent: 1.5rem;
    background-position: 50% 50%;
    background-size: contain;

}

.btn-default{
    color: #999;
    background-color: #fff;
    border-color: #999;
}